@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.tag {
    padding: 0.3rem 0.5rem;
    background-color: $secondary-color3;
    border: $secondary-color1 solid 1px;
    border-radius: 8px;
    @include labels-mobile;

    @include tablet {
        @include labels-desktop-tablet;
        padding: 0.4rem 0.75rem;
    }

    &--clickable {
        border: $primary-color2 solid 1px;
        color: $primary-color2;
        font-size: 0.7rem;

        &:hover {
            cursor: pointer;
            background-color: $primary-color2;
            color: $secondary-color3;
        }

        @include tablet {
            font-size: 0.85rem;
        }
    }

    &--selected {
        background-color: $primary-color2;
        color: $secondary-color3;
    }

    &--singleImage {
        @include tablet {
            @include body-desktop-tablet;
            border: $secondary-color1 solid 2px;
            padding: 0.5rem 1rem;
            border-radius: 12px;
        }
    }
}