@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins' as *;

.footer {
    &__socials-container {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        @include tablet {
            padding-bottom: 0.5rem;
        }

        @include desktop {
            padding-top: 1.5rem;
        }
    }

    &__social-icon {
        height: 1.2rem;

        @include tablet {
            height: 1.4rem;
        }
    }
}