@use '../../../styles/partials/variables.scss' as *;
@use '../../../styles/partials/mixins.scss' as *;

.tag {
    padding: 0.3rem 0.5rem;
    background-color: $secondary-color3;
    border: $secondary-color1 solid 1px;
    border-radius: 8px;
    @include labels-mobile;

    @include tablet {
        @include labels-desktop-tablet;
        padding: 0.4rem 0.75rem;
    }

    &--clickable {
        border: $primary-color2 solid 1px;
        color: $primary-color2;
        font-size: 0.7rem;

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            font-size: 0.85rem;
        }
    }
}