@use './variables.scss' as *;
@use './typography.scss' as *;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin wordmark-desktop-tablet {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@mixin wordmark-mobile {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: "Newsreader", 'Times New Roman', Times, serif;
    color: $primary-color1;
}

@mixin title-desktop {
    font-size: 3.25rem;
}

@mixin title-tablet {
    font-size: 2.5rem;
    line-height: 4.125rem;
}

@mixin title-mobile {
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 2.375rem;
    font-family: "Newsreader", 'Times New Roman', Times, serif;
    color: $primary-color1;
}

@mixin heading-desktop-tablet {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

@mixin heading-mobile {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.4375rem;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    color: $primary-color1;
}

@mixin body-desktop-tablet {
    font-size: 1.25rem;
    line-height: 1.625rem;
}

@mixin body-mobile {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    color: $primary-color1;
}

@mixin small-body-desktop-tablet {
    font-size: 0.75rem;
    line-height: 0.9375rem;
}

@mixin small-body-mobile {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 0.75rem;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    color: $primary-color1;
}

@mixin labels-desktop-tablet {
    font-size: 0.75rem;
    line-height: 1.09375rem;
}

@mixin labels-mobile {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 0.9375rem;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    color: $primary-color1;
}