@font-face {
    font-family: 'Newsreader';
    src: url(../../assets/Font/Alternative\ Files/Newsreader-Regular.woff2) format("woff2"),
        url(../../assets/Font/Newsreader-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Newsreader';
    src: url(../../assets/Font/Alternative\ Files/Newsreader-Light.woff2) format("woff2"),
        url(../../assets/Font/Newsreader-Light.woff) format("woff");
    font-weight: 300;
}

@font-face {
    font-family: 'Newsreader';
    src: url(../../assets/Font/Alternative\ Files/Newsreader-LightItalic.woff2) format("woff2"),
        url(../../assets/Font/Newsreader-LightItalic.woff) format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Outfit';
    src: url(../../assets/Font/Alternative\ Files/Outfit-Medium.woff2) format("woff2"),
        url(../../assets/Font/Outfit-Medium.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: 'Outfit';
    src: url(../../assets/Font/Alternative\ Files/Outfit-Light.woff2) format("woff2"),
        url(../../assets/Font/Outfit-Light.woff) format("woff");
    font-weight: 300;
}