$tablet-width: 768px;
$desktop-width: 1280px;

$primary-color1: #0C1E1A; //Black
$primary-color2: #1E6655; //Forest Green
$primary-color3: #EFFAF7; //Pistachio

$secondary-color1: #B7CEC9; //Sea Green
$secondary-color2: #E4EFEC; //Sage
$secondary-color3: #FFFFFF; //White

$side-margin-mobile: 1rem;
$side-margin-tablet: 1.5rem;

$desktop-container-width: 76.5rem;