@use '../../../styles/partials/variables.scss' as *;
@use '../../../styles/partials/mixins.scss' as *;

.single-photo-card {
    width: 100%;
    background-color: $secondary-color2;
    border: $secondary-color1 1px solid;
    border-radius: 8px;

    @include tablet {
        border-radius: 16px;
        border: $secondary-color1 2px solid
    }

    &__image {
        width: 100%;
        border-radius: 8px 8px 0 0;

        @include tablet {
            border-radius: 16px 16px 0 0;
        }
    }

    &__tag-container {
        display: flex;
        gap: 0.5rem;
        padding: 0.75rem 1rem;

        @include tablet {
            padding: 1.5rem;
            gap: 1.5rem;
        }

        @include desktop {
            padding: 2rem;
        }
    }

    &__text-container {
        padding: 0.25rem 1rem 1rem;
        position: relative;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1.5rem 2rem;
        }

        @include desktop {
            padding: 1rem 2rem 2.5rem;
        }
    }

    &__like-container {
        padding-bottom: 0.5rem;
        display: flex;
        gap: 0.4rem;

        @include tablet {
            padding: 0;
        }
    }

    &__like-icon {
        @include tablet {
            height: 1rem;
        }
    }

    &__text {
        @include body-mobile;

        &--displaced {
            position: absolute;
            right: 1rem;
            top: 0.25rem;

            @include tablet {
                position: relative;
            }
        }

        @include tablet {
            @include body-desktop-tablet;
        }
    }
}