@use '../../../styles/partials/variables.scss' as *;
@use '../../../styles/partials/mixins.scss' as *;

.mission {
    margin: 0 $side-margin-mobile;
    padding: 1rem 0;

    @include tablet {
        margin: 0 $side-margin-tablet;
        padding: 2rem 0;
    }

    @include desktop {
        padding: 3.25rem 0 2rem;
        margin: 0;
    }

    &__title {
        @include heading-mobile;

        @include tablet {
            @include heading-desktop-tablet;
        }

        @include desktop {
            padding: 0.75rem 0;
        }
    }

    &__content {
        padding: 1rem 0;
        @include title-mobile;

        @include tablet {
            @include title-tablet;
        }

        @include desktop {
            padding: 1.5rem 0;
            width: 45rem;
            @include title-desktop;
        }
    }
}