@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins' as *;

.footer {
    &__links-column {
        padding: 0.4rem 0;

        @include tablet {
            padding: 0;
        }
    }

    &__link {
        padding: 0.25rem 0;
        @include body-mobile;

        @include tablet {
            @include body-desktop-tablet;
        }
    }
}