@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins' as *;

.comment-form {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 1rem;

    @include tablet {
        padding-top: 4rem;
        margin: 0 auto;
        max-width: 50rem;
    }

    @include desktop {
        padding-top: 4.5rem;
    }

    &__label {
        @include body-mobile;
        padding: 0.5rem 0;

        @include tablet {
            @include body-desktop-tablet;
        }
    }

    &__input {
        margin-bottom: 0.5rem;
        min-height: 1.875rem;
        width: 100%;
        padding: 0.4rem 0.5rem;
        border: 1px solid $secondary-color1;
        border-radius: 6px;
        @include body-mobile;

        @include tablet {
            min-height: 2.5rem;
            padding: 0.5rem 1rem;
            border: 2px solid $secondary-color1;
            border-radius: 10px;
        }

        &:focus {
            outline: none;
            border: 1px solid $primary-color2;

            @include tablet {
                border: 2px solid $primary-color2;
            }
        }

        &--textarea {
            min-height: 4rem;
            resize: none;

            @include tablet {
                min-height: 5.75rem;
            }
        }

        &--invalid {
            border: 1px solid #B10606;

            @include tablet {
                border: 2px solid #B10606;
            }
        }
    }

    &__submit-button {
        @include body-mobile;
        align-self: flex-end;
        background-color: $primary-color2;
        color: $secondary-color3;
        border: 0;
        padding: 0.35rem 0.7rem;
        border-radius: 6px;
        margin-top: 0.75rem;

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            @include body-desktop-tablet;
            padding: 0.5rem 1.5rem;
            border-radius: 10px;
        }
    }
}