@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.filter-panel {
    background-color: $secondary-color2;
    padding: 0 $side-margin-mobile;

    @include tablet {
        padding: 0.5rem $side-margin-tablet 5.5rem;
    }

    @include desktop {
        padding-left: 3rem;
        width: 26.25rem;
    }

    &__heading {
        @include heading-mobile;
        font-weight: 500;
        font-size: 1rem;
        padding-top: 1rem;

        @include tablet {
            font-size: 1.5rem;
            padding: 1.5rem 0;
        }

        @include desktop {
            padding: 2.5rem 0;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0.8rem 0;

        @include desktop {
            width: 21.75rem;
        }
    }
}