@use '../../../styles/partials/variables.scss' as *;
@use '../../../styles/partials/mixins.scss' as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 $side-margin-mobile;
    padding: 1.5rem 0;

    @include tablet {
        margin: 0 $side-margin-tablet;
        padding: 2rem 0;
    }

    @include desktop {
        width: $desktop-container-width;
        margin: 0 auto;
    }
}