@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.gallery {
    margin: 0 $side-margin-mobile;
    display: flex;
    flex-direction: column;

    @include tablet {
        margin: 0 $side-margin-tablet;
        flex-flow: row wrap;
        gap: 1.5rem;
        padding: 1rem 0;
    }

    @include desktop {
        margin: 0;
        width: 100%;
        gap: 1.5rem 0;
        justify-content: space-between;
    }
}